.nav {
    border: 2px solid #ffffff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 20px 20px 15px 20px;
    display: block;
    height: 100%;
    text-decoration: none;
    text-align: center;
    min-width: 250px;
}

.nav:hover {
    border-color: #8EC044;
}

.navTitle {
    padding-bottom: 0.2em;
    margin-bottom: 0.4em;
}

.navTitle:after {
    content: " ";
    display: block;
    text-align: center;
    border-bottom: 2px solid #8EC044;
    width: 33%;
    left: 33%;
    top: 0.25em;
    position: relative;
}

.navText {
    line-height: 1.35;
    font-size: 1.7em;
}
