.nav {
    border: 2px solid #000000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 20px 20px 15px 20px;
    display: block;
    height: 100%;
    text-decoration: none;
    text-align: center;
    min-width: 250px;
    min-height: 150px;
    transition: all 0.2s ease;
}

.nav:hover {
    background-color: #e8e1d8;
    border-bottom-color: #6B133D;
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.navTitle {
    padding-bottom: 0.2em;
    margin-bottom: 0.4em;
}

.navTitle:after {
    content: " ";
    display: block;
    text-align: center;
    border-bottom: 2px solid #6B133D;
    width: 33%;
    left: 33%;
    top: 0.25em;
    position: relative;
}

.navText {
    line-height: 1.35;
    font-size: 1.7em;
    border-color: #6B133D;
}
