.container {
    padding: 0 2em;
}

@media only screen and (min-width: 940px) {
    .container {
        padding: 0 4em;
    }
}

@media only screen and (min-width: 1260px) {
    .container {
        padding: 0 15em;
    }
}

@media only screen and (min-width: 1450px) {
    .container {
        padding: 0 20em;
    }
}

@media only screen and (min-width: 1775px) {
    .container {
        padding: 0 30em;
    }
}

@media only screen and (min-width: 2015px) {
    .container {
        padding: 0 50em;
    }
}
