.welcome-text {
  margin: 0 0 0.8em 0;
  font-size: 1.8em;
}

.align-center {
  text-align: center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em 3em 1em;
}

footer > p {
  font-size: 1.5em;
  margin-top: 1em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .welcome-text {
    font-size: 2.5em;
    margin: 0 0 1em 0;
  }
}

@media only screen and (min-width: 940px) {
  .welcome-text {
    margin: 1.5em 0 2em 0;
  }
}

@media only screen and (min-width: 1260px) {
  footer > p {
    margin-top: 2em;
    width: 70%;
  }
}
